.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App-header {
  display: flex;
  align-items: center;
  background-color: #222;
  color: white;
  height: 40px;
  padding: 20px;
  font-size: 1.6em;
}

.App-icon {
  margin-right: 15px;
}

.App-test {
  border: 1px red solid;
}

.Map-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
}

.Map{
  width: 800px;
  height: 800px;
}

.Map-Filter{
  background-color: white;
  width: 200px;
  height:800px;
}